<div class="app p-4 container-fluid">
  <div class="row">
    <div class="col col-md-4 offset-md-4">
      <div class="text-center">
        <app-card [user]="user" *ngIf="user; else loadingBlock"></app-card>
        <ng-template #loadingBlock>
          <div class="text-center" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="text-white">
              <h1>Loading ...</h1>
              <span class="spinner-border spinner-grow text-white" role="status"></span>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>